.el__header {
    .el-header {
        // padding: 0 !important;
        background-color: #2e5e85;
    }
    .el-aside {
        height: 1000px;
        background-color: rgb(84, 92, 100);
    }
    .el-main {
        // height: 100%;
        background-color: #cfd3d6;
    }
}